<!-- Toolbar -->
<div id="printthermals">

  <iframe id="printframe"></iframe>

</div>

<div class="container-fluid" id="printPageButton">
  <div id="printPageButton" class="toolbar" role="banner">
    <img width="280" alt="Angular Logo" src="https://muthootenterprises.com/images/logo.png" />

    <!-- <span>Create Gold Loan</span> -->
    <div class="spacer"></div>
    <!-- <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a> -->
    <img width="120" src="https://muthootenterprises.com/images/muthoottm.png" />
  </div>

  <div class="content" role="main">
  </div>

  <input type="hidden" id="branchnamess" [(ngModel)]="branchnamess" name="branchnamess" value="branchnamess">
  <input type="hidden" id="LandLine" [(ngModel)]="LandLine" name="LandLine" value="LandLine">


  <!-- (ngSubmit)="savegoldDetails()" -->
  <form>
    <span class="task bar" id="printPageButton">&nbsp;Create Gold Loan</span>
    <div class="taskborder" id="printPageButton">

      <div class="container-fluid">
        <div class="row mt-3 mb-3">

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="glnumber">GL Number:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="number" class="form-control" disabled="true" id="glnumber" [(ngModel)]="golddetail.glnumber"
                value="glnumber" name="glnumber">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="currentgoldrate">Current Gold Rate:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="number" class="form-control" disabled="true" id="currentgoldrate"
                [(ngModel)]="currentgoldrate" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" name="currentgoldrate">
            </div>
          </div>


          <div class="col-sm-3 p-0" id="printPageButton">
            <div class="form-group">

              <button type="button" (click)="popupsearch = true" class="btn btn-secondary mr-1">Search Customer</button>
              <button type="button" type="button"
                (click)="popup = true;customerphotoclick(); showMsgcusphotoupload=false;" class="btn btn-secondary">
                Create
                Customer</button>

            </div>



          </div>
          <!-- col-sm3 pl-27 pr-0 -->
          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="ccname">Customer Code:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="number" class="form-control" disabled="true" id="customercode"
                [(ngModel)]=golddetail.customerCode name="customercode">
            </div>
          </div>

        </div>
      </div>

      <div class="container-fluid">
        <div class="row mt0 mb-3">

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="cnname">Customer Name:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input class="form-control" disabled="true" type="text" id="customername"
                [(ngModel)]=golddetail.customerName name="customername">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="fname"> Pawn Ticket No:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="text" disabled="true" id="pawnticketno" name="pawnticketno"
                [(ngModel)]="golddetail.pawnticketno" value="" class="form-control">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="cnname">Contact No:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input class="form-control" disabled="true" type="text" id="contactno" [(ngModel)]="golddetail.mobile"
                name="contactno">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="fname">Email:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input class="form-control" disabled="true" type="text" id="email" name="email" value=""
                [(ngModel)]="golddetail.email">
            </div>
          </div>

        </div>
      </div>

      <div class="container-fluid">
        <div class="row mt0 mb-3">

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="fname">Address:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <textarea type="text" disabled="true" id="addressOne" name="addressOne" value=""
                [(ngModel)]="golddetail.addressOne" class="form-control"></textarea>
            </div>
          </div>
          <!-- 
        <div class="col-sm-1 pl-3 pr-0" *ngIf="shownspin">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" >
              <span class="sr-only" id="loading" ></span>
            </div>
          </div>
        </div> -->

          <div class="col-sm-2">

          </div>

        </div>



      </div>

    </div>

    <span class="task bar">&nbsp;Loan Details</span>
    <div class="taskborder" id="printPageButton">
      <div style="margin-top: 23px; text-align:center;">
        <label for="chooseloan" style="margin-right:5px;">Choose Loan:</label>

        <input type="radio" (click)="clicknormalloan('Normal')" [(ngModel)]="golddetail.loantype" id="normalloan"
          name="loantype" [checked]="true" value="Normal" style="margin-right:5px;">
        <label for="normalloan" style="margin-right:5px;">NormalLoan</label>

        <!-- <input type="radio" id="emi" name="loantype" value="EMI" style="margin-right:5px;">
      <label for="emi" style="margin-right:5px;">EMI</label> -->
        <br>
      </div><br>

      <div class="container-fluid">
        <div class="row mt-2 mb-2">

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="sname">Scheme Name:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <!-- <input type="text" id="schemename" name="schemename" class="form-control"> -->
              <select class="form-control mb-0" id="schemenameid" #mySelect
                (change)='onSelectedSchemeDetail(mySelect.value)' name="schemenameid">


                <option [ngValue]="0">Select Scheme Type</option>
                <option *ngFor="let scm of schemename" value={{scm.schemeId}}> {{scm.schemeName}}</option>

              </select>
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="cssname">Current Slab Interest Rate:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="text" disabled="true" id="InterestPercentage" [(ngModel)]="golddetail.interestPercentage"
                name="InterestPercentage" value="" class="form-control">
              <input type="hidden" id="InterestPercentage2" [(ngModel)]="golddetail.interestPercentage2"
                name="InterestPercentage2" value="">
              <input type="hidden" id="InterestPercentage3" [(ngModel)]="golddetail.interestPercentage3"
                name="InterestPercentage3" value="">
              <input type="hidden" id="InterestPercentage4" [(ngModel)]="golddetail.interestPercentage4"
                name="InterestPercentage4" value="">

              <input type="hidden" id="fromMonth" [(ngModel)]="golddetail.fromMonth" name="fromMonth" value="">
              <input type="hidden" id="fromMonth2" [(ngModel)]="golddetail.fromMonth2" name="fromMonth2" value="">
              <input type="hidden" id="fromMonth3" [(ngModel)]="golddetail.fromMonth3" name="fromMonth3" value="">
              <input type="hidden" id="fromMonth4" [(ngModel)]="golddetail.fromMonth4" name="fromMonth4" value="">

              <input type="hidden" id="toMonth" [(ngModel)]="golddetail.toMonth" name="toMonth" value="">
              <input type="hidden" id="toMonth2" [(ngModel)]="golddetail.toMonth2" name="toMonth2" value="">
              <input type="hidden" id="toMonth3" [(ngModel)]="golddetail.toMonth3" name="toMonth3" value="">
              <input type="hidden" id="toMonth4" [(ngModel)]="golddetail.toMonth4" name="toMonth4" value="">

            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="cssname">Scheme Risk Category:</label>
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-group">
              <input type="text" disabled="true" id="riskCategory" name="riskCategory"
                [(ngModel)]="golddetail.riskCategory" class="form-control">
            </div>
          </div>


        </div>
      </div>


      <div class="container-fluid">
        <div class="row mt-2 mb-2">

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="fname">Scheme Gold Rate:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="text" disabled="true" id="ratePerGram" name="ratePerGram"
                [(ngModel)]="golddetail.ratePerGram" class="form-control">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="fname">Scheme Effective Date:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="datetime" disabled="true" id="effectiveTo" name="effectiveTo"
                [(ngModel)]="golddetail.effectiveTo" class="form-control">
            </div>
          </div>



        </div>
      </div>


    </div>

    <span class="task bar" id="printPageButton">&nbsp;Gold Details</span>
    <div class="taskborder" id="printPageButton">

      <div class="table-responsive">


        <table class="table table-striped table-bordered" id="tableid">
          <thead>
            <tr style="background-color: #bfc0ce;">
              <th>Ornament</th>
              <th id="printPageButton">Count</th>
              <th id="printPageButton">Broken</th>
              <th>Carat</th>
              <th>Grosswt</th>
              <th>Stonewt</th>
              <th id="printPageButton">Stone%</th>
              <th>Netwt</th>
              <th id="printPageButton">PurityType</th>
              <th>AmountPerGram</th>
              <th>MaxAmount</th>
              <th id="printPageButton">Action</th>
            </tr>
          </thead>
          <tbody>

            <tr id="printPageButton">
              <td>
                <select [(ngModel)]="newAttribute.itemName" name="newAttributename" class="form-control"
                  style="width: 160px;">
                  <option value="0">Ornament Type</option>
                  <option *ngFor="let data of ornamenttypes;" [ngValue]="data">
                    {{data.itemName}}
                  </option>
                </select>
              </td>
              <td id="printPageButton">
                <input class="form-control" disabled="true" style="width: 50px;" type="number" id="newAttributecount"
                  [(ngModel)]="golditemdetail.count" name="newAttributecount" />
              </td>
              <td id="printPageButton">
                <input class="form-control" type="checkbox" id="newAttributebroken" [(ngModel)]="newAttribute.broken"
                  name="newAttributebroken" />
              </td>

              <td>
                <input class="form-control" style="width:70px;"
                  onkeypress="return event.charCode >= 18 && event.charCode <= 22" type="number" id="newAttributecarat"
                  required min="18" max="22" [(ngModel)]="newAttribute.carat" name="newAttributecarat"
                  (ngModelChange)="onchangecarat($event)" />

              </td>

              <td>
                <input class="form-control" (ngModelChange)="newattrgrosswtchange($event)" #gwt style="width: 70px;"
                  type="number" id="newAttributegrosswt" [(ngModel)]="newAttribute.grosswt"
                  name="newAttributegrosswt" />

              </td>
              <td>
                <input class="form-control" style="width: 70px;" (ngModelChange)="newattrstonewtchange($event)"
                  type="number" id="newAttributestonewt" [(ngModel)]="newAttribute.stonewt"
                  name="newAttributestonewt" />

              </td>
              <td id="printPageButton">
                <p class="form-control" disabled="true" type="number" id="newAttributestoneperc"
                  name="newAttributestoneperc">
                  {{((newAttribute.stonewt/newAttribute.grosswt)*100)?((newAttribute.stonewt/newAttribute.grosswt)*100).toFixed(2):0}}
                </p>

              </td>
              <td>
                <input class="form-control" disabled="true" style="width: 70px;" type="number" id="newAttributenetwt"
                  [(ngModel)]="newAttribute.netwt" name="newAttributenetwt" />
                <!-- ngModel={{newAttribute.grosswt-newAttribute.stonewt}} -->
              </td>
              <td id="printPageButton">

                <select class="form-control" style="width: 130px;" name="newAttribute.description"
                  [(ngModel)]="newAttribute.description" (ngModelChange)="onSelectedpuritytype($event)">
                  <!-- <option value="0">Purity Type</option> -->
                  <!-- value={{data.id}} -->
                  <option *ngFor="let datapt of puritytypes;" [ngValue]="datapt">
                    {{datapt.description}}
                  </option>
                </select>
              </td>
              <td>
                <input class="form-control" disabled="true" style="width: 100px;" type="number"
                  id="newAttributeamountpergram" [(ngModel)]="newAttribute.amountpergram"
                  name="newAttributeamountpergram" />

              </td>
              <td>
                <input class="form-control" disabled="true" type="number" id="newAttributemaxamount"
                  [(ngModel)]="newAttribute.maxamount" name="newAttributemaxamount" />

              </td>
              <td id="printPageButton">
                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
              </td>
            </tr>
            <tr *ngFor="let field of fieldArray; let i = index">
              <td>

                <span class="form-control clsOrnament">{{field.itemName.itemName}}</span>
              </td>
              <td id="printPageButton">
                <input [(ngModel)]="golditemdetail.count" disabled="true" class="form-control" type="number"
                  name="count" />
              </td>
              <td id="printPageButton">
                <span class="form-control">{{field.broken}}</span>
              </td>
              <td>

                <span class="form-control">{{field.carat}}</span>
              </td>

              <td>

                <span class="form-control clsGrosswt">{{field.grosswt}}</span>
              </td>
              <td>
                <span class="form-control">{{field.stonewt}}</span>


              </td>
              <td id="printPageButton">
                <!-- <span  class="form-control">{{field.stoneperc}}</span> -->

                <p class="form-control" type="number" id="stoneperc" name="stoneperc">
                  {{((field.stonewt/field.grosswt)*100)?((field.stonewt/field.grosswt)*100).toFixed(2):0}}
                </p>

              </td>
              <td>
                <p class="form-control clsNetwt" type="number" id="netwt" name="netwt">
                  <!-- {{field.grosswt-field.stonewt}} -->
                  {{field.netwt}}

                </p>
              </td>
              <td id="printPageButton">
                <span>{{field.description.description}}</span>

              </td>
              <td>
                <span class="form-control">{{field.amountpergram}}</span>

              </td>
              <td>

                <span class="form-control">{{field.maxamount}}</span>
              </td>
              <td id="printPageButton">
                <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td style="color:#f1069e;font-weight: bold; ">Total Gross Weight</td>
              <td style="color:#f1069e; font-weight: bold;">
                {{golddetail.totalgrosswt}}</td>
              <td id="printPageButton"></td>
              <td style="color:#f1069e; font-weight: bold;">Total Net Weight</td>
              <td style="color:#f1069e; font-weight: bold;">{{golddetail.totalnetwt}}</td>
              <td id="printPageButton"></td>
              <td id="printPageButton" style="color:#f1069e; font-weight: bold;">Total Maximum Amount</td>
              <td id="printPageButton" style="color:#f1069e; font-weight: bold;">{{golddetail.maximumamount}}</td>
              <td id="printPageButton"></td>
            </tr>
          </tbody>

        </table>

        <input type="number" class="form-control" disabled="true" id="totalgrosswt"
          [(ngModel)]="golddetail.totalgrosswt" value="totalgrosswt" name="totalgrosswt" style="display: none;" />
        <input type="number" class="form-control" disabled="true" id="totalnetwt" [(ngModel)]="golddetail.totalnetwt"
          value="totalnetwt" name="totalnetwt" style="display: none;" />
      </div>
    </div>

    <span class="task bar" id="printPageButton">&nbsp;Loan Amount Details</span>
    <div class="taskborder" id="printPageButton">
      <br>
      <div class="container-fluid">
        <div class="row mt-2 mb-2">

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="maxloanamount">Max Loan Amount:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="text" disabled="true" id="maximumamount" [(ngModel)]="golddetail.maximumamount"
                name="maximumamount" class="form-control">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="cssname">Gold Loan Amount:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="number" id="disableTextbox =  false;" [disabled]='disableTextbox'
                (input)="goldloanMinus($event.target.value)" [(ngModel)]="golddetail.goldloanamount"
                name="goldloanamount" class="form-control">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="excessamount">Excess Amount:</label>
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-group">
              <input type="text" disabled="true" id="excessamount" name="excessamount"
                [(ngModel)]="golddetail.excessamount" value="" class="form-control">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="remarks">Remarks:</label>
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-group">
              <textarea type="text" [(ngModel)]="golddetail.remarks" id="remarks" name="remarks" value=""
                class="form-control"></textarea>
            </div>
          </div>


        </div>
      </div>


      <div class="container-fluid">
        <div class="row mt-2 mb-2">

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="pronoteamount">Pro-note Amount:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="text" id="pronoteamount" value="N/A" name="pronoteamount" disabled="true"
                class="form-control">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="totalloanamt">Total Loan Amount:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="number" disabled="true" id="totalloanamt" name="totalloanamt"
                value="{{golddetail.goldloanamount}}" class="form-control">
            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="servicecharge">Service charge Paid:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <input type="number" disabled="true" id="servicecharge" name="servicecharge"
                [(ngModel)]="golddetail.servicecharge" value="" class="form-control">
            </div>
          </div>

        </div>
      </div>


    </div>

    <span class="task bar" id="printPageButton">&nbsp;Take Photo</span>
    <div class="taskborder" id="printPageButton">
      <br>
      <div class="container-fluid">
        <div class="row mt-2 mb-2">

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="maxloanamount">Gold Photo:</label>
            </div>
          </div>

          <div class="col-sm-2">

            <!-- </div> -->

            <div class="form-group">

              <button type="button" (click)="popupphoto = true; goldphotoclick();" class="btn btn-secondary mr-1">Take
                Photo</button>

            </div>
          </div>

          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <label for="status">Gold Photo Status:</label>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">

              <input type="text" disabled="true" id="golduploadstatus" name="golduploadstatus"
                [(ngModel)]="golduploadstatus" value="" class="form-control">
              <!-- {{this.showgoldphotoMsgsuc}} -->
            </div>
          </div>



          <div class="col-sm-1 pl-3 pr-0">
            <div class="form-group">
              <!-- <input type="file" name="file" id="file" value="upload" (click)="onUpload()" /> -->
              <!-- <input type="file"  (change)="bindImageToObjet($event)" required
            accept=".jpeg,.png"> -->
              <!-- <input type="file" name="file" id="file" value="upload" (change)="onFileChange($event)" /> -->
              <!-- <div *ngIf="UploadStarted">
              <h2>Upload In Progress...</h2>
              <pre>{{UploadProgress | async}}%
              </pre>
              </div>
              <div *ngIf="UploadCompleted">
              <h2>Upload Complete!</h2>
            </div> -->

            </div>
          </div>

          <!-- <div class="col-sm-2">
          <div class="form-group">
            <input type="text" id="goldloanamount" name="goldloanamount" value="" class="form-control">
          </div>
        </div> -->

        </div>
      </div>

    </div>

    <span class="task bar" id="printPageButton">&nbsp;Payment Details</span>
    <div class="taskborder" id="printPageButton">
      <br>
      <div class="container-fluid">
        <div class="row mt-2 mb-2">

          <div class="col-sm0 pl-3 pr-0">
            <div class="form-group">
              <label for="maxloanamount">Payment Mode:</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <!-- <input type="radio" [(ngModel)]="golddetail.paymentmode" id="cash" name="cash" value="Cash" style="margin-right:5px;">
            <label for="cash" style="margin-right:5px;">Cash</label> -->


              <input type="radio" [(ngModel)]="golddetail.paymentmode" id="rtgsneft" (click)="clickaddbank()"
                name="rtgsneft" value="BANK" style="margin-right:5px;">
              <label for="cash" style="margin-right:5px;">Bank: RTGS/NEFT</label>

            </div>
          </div>

        </div>
      </div>

      <div id="printPageButton" style="text-align:center">
        <button type="button" class="btn btn-primary" *ngIf="isShownsavebutton" (click)="oncancelgoldcreation()"
          style="background-color: #dc3545;">Cancel Loan</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" *ngIf="isShownsavebutton" (click)="onsavegolddetails($event)"
          style="background-color:#28a745;">Create Loan</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" onclick="printReceipt();"
          style="background-color:#224abb;">Print</button>
      </div>
      <br>
      <div style="text-align:center" *ngIf="showMsg2">
        <p class="alert alert-primary">
          <strong style="color:green ;">Gold Loan Created Successfully!</strong>
        </p>

      </div>
      <div style="text-align:center" *ngIf="showMsg3">
        <p class="alert alert-primary">
          <strong style="color:green ;">Gold Loan Created Failed!</strong>
        </p>

      </div>
    </div>



    <span class="task bar">'</span>
    <div class="content" role="main">

    </div>
  </form>




  <div class="overlay" *ngIf="popupsearch">
    <div class="popup">
      <label for="customerdetailsearch" class="taskpopup barpopup"> Customer Detail Search</label>

      <a class="close" (click)="popupsearch = false">&times;</a>

      <br>
      <form (ngSubmit)="searchcustomerdetails(customerdetailsearchForm.value)" #customerdetailsearchForm="ngForm"
        name="myFormsearch">
        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="customercodesearch">Customer Code:</label>
              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input type="number" class="form-control" id="customerCode" [(ngModel)]=custdetail.customerCode
                  name="customerCode" value="customerCode">
              </div>
            </div>
            <!-- <div > -->
            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="namesearch" class="control-label">Name:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" id="firstname" name="firstname" #firstnamecontrol="ngModel"
                  [(ngModel)]=custdetail.firstname>


              </div>
            </div>

          </div>

        </div>
        <!-- </div> -->

        <div id="siteInfo" style="text-align:center">

          <button type="submit" class="btn btn-primary" style="background-color: #e43519;">Search</button>

        </div>

        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr style="background-color: #bfc0ce;">
                <th>Customer Code</th>
                <th>Customer Name</th>
                <th>AddressOne</th>
                <th>Mobile </th>
                <th>Select </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let custsearch of customerdetailgrid">
                <td>{{custsearch.customerCode}}</td>
                <td>{{custsearch.customerName}}</td>
                <td>{{custsearch.addressOne}}</td>
                <td>{{custsearch.mobile}}</td>
                <td> <input type="radio" value="Edit" (click)="RowSelected(custsearch)" /></td>
              </tr>

            </tbody>

          </table>
        </div>

        <br>

        <div id="siteInfo" style="text-align:center">

          <button (click)="clickselectedcusdetsearch()" (click)="popupsearch = false" type="submit"
            class="btn btn-primary" style="background-color: #61549b;">Create Loan For Selected Customer</button>


        </div>

      </form>

    </div>
  </div>

  <div class="overlay" *ngIf="popup">
    <div class="popup">
      <label for="lblcreatecustomer" class="taskpopup barpopup">Create Customer</label>

      <a class="close" (click)="popup = false; showcussaveMsgsuc = false; showcussaveMsgerr = false;">&times;</a>

      <br>
      <form (ngSubmit)="savecustomerdetails(customerdetailForm.value)" #customerdetailForm="ngForm" name="myForm">
        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblcustomercodepopup">Customer Code:</label>
              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input type="number" class="form-control" id="customerCode" [(ngModel)]="customerCode" disabled="true"
                  name="customerCode" value="customerCode">
              </div>
            </div>
            <!-- <div > -->
            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="firstname" class="control-label">First Name*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group" [class.has-error]="firstnamecontrol.invalid && firstnamecontrol.touched"
                [class.has-success]="firstnamecontrol.valid">
                <input class="form-control mb-0" required id="firstname" name="firstname" #firstnamecontrol="ngModel"
                  [(ngModel)]="custdetail.firstname">

                <span class="help-block" style="color:red"
                  *ngIf="firstnamecontrol.invalid && firstnamecontrol.touched ">
                  First Name is Mandatory
                </span>
              </div>
            </div>

          </div>

        </div>
        <!-- </div> -->



        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lbllastname">Last Name*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group" [class.has-error]="lastnamecontrol.invalid && lastnamecontrol.touched"
                [class.has-success]="lastnamecontrol.valid">
                <input class="form-control mb-0" type="text" required id="lastname" name="lastname"
                  #lastnamecontrol="ngModel" [(ngModel)]="custdetail.lastname">
                <span style="color:red" *ngIf="lastnamecontrol.invalid && lastnamecontrol.touched ">
                  Last Name is Mandatory
                </span>
              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lbllocality">Locality*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group" [class.has-error]="localitycontrol.invalid && localitycontrol.touched"
                [class.has-success]="lastnamecontrol.valid">
                <input class="form-control mb-0" type="text" required id="locality" name="locality"
                  #localitycontrol="ngModel" [(ngModel)]="custdetail.locality">
                <span style="color:red" *ngIf="localitycontrol.invalid && localitycontrol.touched ">
                  Locality is Mandatory
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lbladdress1">Address1*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group" [class.has-error]="address1control.invalid && address1control.touched"
                [class.has-success]="address1control.valid">
                <textarea class="form-control mb-0" type="text" required id="addressOne" name="addressOne"
                  #address1control="ngModel" [(ngModel)]="custdetail.addressOne"></textarea>
                <span style="color:red" *ngIf="address1control.invalid && address1control.touched ">
                  Address1 is Mandatory
                </span>
              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lbladdress2">Address2:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <textarea class="form-control mb-0" style="width: 100%;" type="text" id="addresstwo" name="addresstwo"
                  #address2="ngModel" [(ngModel)]="custdetail.addresstwo"></textarea>
              </div>
            </div>
          </div>
        </div>


        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblcity">City:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <!-- <select class="form-control mb-0" id="city" name="city">
                          <option [value]="-1">Select City</option>
                        </select> -->
                <!-- <p>{{citys}} </p> -->

                <select class="form-control mb-0" id="cityid" appSelectValidator="-1" #cityid="ngModel" name="cityid"
                  [(ngModel)]="custdetail.cityid" (change)='onSelectcity(cityid.value)'>


                  <option value="0">--Select city--</option>
                  <option *ngFor="let citi of citys" value={{citi.id}}> {{citi.name}}</option>

                </select>
              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lbldistrict">District:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" type="text" id="district" name="district" #district="ngModel"
                  [(ngModel)]="custdetail.district" disabled="true">
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">


            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblstate">State</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" type="text" id="state" name="state" #state="ngModel"
                  [(ngModel)]="custdetail.state" disabled="true">
              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lblpin">Pin* :</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group" [class.has-error]="pincontrol.invalid && pincontrol.touched"
                [class.has-success]="pincontrol.valid">
                <input class="form-control mb-0" type="number" maxlength="6" required id="pin" name="pin"
                  #pincontrol="ngModel" [(ngModel)]="custdetail.pin" [pattern]="pincontrolpattern">
                <span class="help-block" style="color:red" *ngIf="pincontrol.errors?.pattern">
                  Pin Code is Mandatory
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lbldateofbirth">Date of Birth:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input type="date" class="form-control mb-0" id="Dobirth" name="Dobirth" #Dob="ngModel"
                  [(ngModel)]="custdetail.Dobirth">

                <!-- [(ngModel)]="custdetail.Dob" -->
              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lblgender">Gender*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input type="radio" required id="gender" #gendercontrol="ngModel" name="gender" value="Male"
                  [(ngModel)]="custdetail.gender">
                <label for="male">Male</label>

                <input type="radio" required id="gender" #gendercontrol="ngModel" name="gender" value="Female"
                  [(ngModel)]="custdetail.gender">
                <label for="female">Female</label>
                <span style="color:red" *ngIf="gendercontrol.invalid && gendercontrol.touched ">
                  Gender is Mandatory
                </span>
              </div>
            </div>
          </div>
          <!-- <button type="submit" class="btn btn-primary" style="background-color: #e43519;"
          [disabled]="customerdetailForm.invalid">Save</button> -->
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblmobilenumber">MobileNumber*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group" [class.has-error]="mobilenumbercontrol.invalid && mobilenumbercontrol.touched"
                [class.has-success]="mobilenumbercontrol.valid">
                <input class="form-control mb-0" maxlength="10" [pattern]="mobNumberPattern" type="text" required
                  id="mobile" name="mobile" [(ngModel)]="custdetail.mobile" #mobilenumbercontrol="ngModel">
                <!-- <span style="color:red"  *ngIf="mobilenumbercontrol.invalid && mobilenumbercontrol.touched ">
                            Mobile Number is Mandatory
                          </span> -->
                <span class="help-block" style="color:red" *ngIf="mobilenumbercontrol.errors?.pattern">
                  Mobile Number is Invalid
                </span>

              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lblverificationnumber">Verify No:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-group mb-0" style="width: 64%;" type="text" id="verificationnumber"
                  name="verificationnumberder" value="">
                <button type="button">Validate</button>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <button style="margin-left:115%" type="button">VerifyMobNo</button>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <button style="margin-left:54%" type="button">?</button>
              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lbllandlinenumber">LandlineNumber:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" type="number" id="landlinenumber" name="landlinenumber"
                  #landlinenumber="ngModel" [(ngModel)]="custdetail.landlinenumber">
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblemail">Email:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text"
                  id="email" name="email" #emailcontrol="ngModel" [(ngModel)]="custdetail.email">
                <span class="help-block" style="color:red" *ngIf="emailcontrol.errors?.pattern">
                  Email is Invalid
                </span>
              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lblidprooftype">IdProofType:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <select class="form-control mb-0" id="idprooftypeid" appSelectValidator="-1" #idprooftypeid="ngModel"
                  name="idprooftypeid" [(ngModel)]="custdetail.idprooftypeid">
                  <option value="0">--Select Type--</option>
                  <option *ngFor="let idprooftype of prooftypes" value={{idprooftype.id}}> {{idprooftype.name}}</option>

                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblidproofnumber">IdProofNo:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" type="text" id="idproofnumber" name="idproofnumber"
                  [(ngModel)]="custdetail.idproofnumber" #idproofnumber="ngModel">
              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lblidproofscan">IdProofscan:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">

                <input type="file" name="file" id="file" />

                <!-- (change)="onFileChanged($event)" -->
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblphoto">Photo:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">

                <div class="d-flex flex-column align-items-center">
                  <div class="p-1">
                    <video #video class="vid2" autoplay></video>
                  </div>
                  <div class="pb-2">
                    <button class="btn btn-primary" (click)="capture(); showcussaveMsgsuc = false;">Capture
                      Image</button>
                  </div>
                  <!-- <div class="pr-1">
                   <canvas #canvas class="vid2"></canvas>
                </div> -->
                </div>
              </div>
            </div>

            <div class="col-sm-4 pl-2">
              <div class="form-group">

                <div class="d-flex flex-column align-items-center">
                  <div class="p-1">
                    <canvas #canvas class="vid2" id="customerimage"></canvas>
                    <!-- <input type="file" class="form-control"  (change)="uploadcustomerphoto($event)" required
              accept=".jpeg,.png"> -->

                  </div>
                  <div class="pb-2">
                    <!-- <input type="file" class="form-control"  (change)="bindImageToObjetcus($event)" required
              accept=".jpeg,.png"> -->
                    <button class="btn btn-primary"
                      (click)="uploadcustomerimagebtn(); showcussaveMsgsuc = false;">Upload Image</button>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" class="form-control mb-0" #PhotoUrl="ngModel" [(ngModel)]="custdetail.PhotoUrl"
              name="PhotoUrl">

            <!-- <div class="col-sm-4 pl-3 pr-0">
            <div class="form-group">
              <button type="button">Not Uploaded</button>

            </div>
          </div> -->

          </div>
          <div style="text-align:center" *ngIf="showMsgcusphotoupload">
            <p class="alert alert-primary">
              <strong style="color:green ;">Customer Photo Upload Successfully!</strong>
            </p>

          </div>
        </div>
        <br>
        <div style="text-align:center" *ngIf="showcussaveMsgsuc">

          <p>
            <strong style="color:green ;">Customer Details Save Successfully!</strong>
          </p>
        </div>
        <div style="text-align:center" *ngIf="showcussaveMsgerr">

          <p>
            <strong style="color:green ;">Customer Details Save Failed!</strong>
          </p>
        </div>
        <div id="siteInfo" style="text-align:center">

          <button type="submit" class="btn btn-primary" style="background-color: #e43519;"
            [disabled]="customerdetailForm.invalid">Save</button>
          <!-- || clicked" (click)="actionMethod(); clicked = true;" -->
          &nbsp;&nbsp;
          <button type="button" class="btn btn-primary" style="background-color: #e43519;"
            (click)="popup = false; showcussaveMsgsuc = false;">Cancel</button>

        </div>
      </form>
    </div>
  </div>

  <div class="overlay" *ngIf="popupphoto">
    <div class="popup">
      <label for="photos" class="taskpopup barpopup"> Photo</label>

      <a class="close" (click)="popupphoto = false">&times;</a>

      <br>
      <form>
        <div class="form-group">
          <!-- <input type="file" name="file" id="file" (click)="capture()" /> -->
          <!-- <div class="container vh-100"> -->
          <div class="d-flex flex-column align-items-center">

            <video #video class="vid" autoplay></video>
            <br>
            <button class="btn btn-primary" (click)="capture()">Capture Image</button>
            <br>
            <canvas #canvas class="vid" id="goldimage"></canvas>
            <br>
            <!-- <input type="file"  (change)="bindImageToObjetgold($event)" required
             accept=".jpeg,.png"> -->
            <button class="btn btn-primary" (click)="uploadgoldimagebtn()">Upload Image</button>

          </div>



        </div>
        <div style="text-align:center" *ngIf="showgoldphotoMsgsuc">

          <p class="alert alert-primary">
            <strong style="color:green ;">Gold Photo Upload Successfully!</strong>
          </p>
        </div>
      </form>
    </div>

  </div>

  <div class="overlay" *ngIf="popupBank">
    <div class="popup">
      <label for="lblcreatecustomer" class="taskpopup barpopup">Create Customer Bank Details</label>

      <a class="close"
        (click)="popupBank = false; showbanksuccessmsg = false; showbankfailedmsg = false; showcussaveMsgsuc = false; showcussaveMsgerr = false;">&times;</a>

      <br>
      <form>
        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblbanknamepopup">Bank Name:</label>
              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <select class="form-control mb-0" id="banknameid" name="banknameid" #selectbanknameid
                  (change)='onSelectedbankname(selectbanknameid.value)'>

                  <option [ngValue]="0">Select Bank Name</option>
                  <option *ngFor="let bank of banks" value={{bank.id}}> {{bank.code}}</option>

                </select>
              </div>
            </div>
            <!-- <div > -->
            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="bankbranchname" class="control-label">Bank Branch Name*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" required id="branch" name="branch" [(ngModel)]="bankdetail.branch">


              </div>
            </div>

          </div>

        </div>
        <!-- </div> -->



        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblacholdername">Account Name*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" type="text" name="acholdername" #lastnamecontrol="ngModel"
                  [(ngModel)]="bankdetail.accountHolder">

              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lblacholdernumber">Account Number*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" type="text" name="acholdernumber"
                  [(ngModel)]="bankdetail.accountNumber">

              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblifsccode">IFSC Code*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input class="form-control mb-0" type="text" name="ifsccode" [(ngModel)]="bankdetail.ifscCode">

              </div>
            </div>

            <div class="col-sm-2 pl-2">
              <div class="form-group">
                <label for="lblbankaddress">Bank Address*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <textarea class="form-control mb-0" name="address" id="address"
                  [(ngModel)]="bankdetail.address"></textarea>

              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">

            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblifsccode">Id Proof Copy*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input type="file" class="form-control mb-0" name="idproofcopy" [(ngModel)]="idproofcopy"
                  (change)="fileChangeEventidproof($event)">

              </div>
            </div>




          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">
            <div class="col-sm-2 p-0">
              <div class="form-group">
                <label for="lblifsccode">Bank PassBook Copy*:</label>

              </div>
            </div>

            <div class="col-sm-4 pl-3 pr-0">
              <div class="form-group">
                <input type="file" class="form-control mb-0" name="passbookcopy" [(ngModel)]="passbookcopy"
                  (change)="fileChangeEventpassbook($event)">

              </div>
            </div>


          </div>
        </div>

        <div class="container-fluid">
          <div class="row mt">
            <div class="col-p-0 pl pr">
              <div class="form-group">

                <input type="checkbox" name="verifybankdetails" id="verifybankdetails" ngModel
                  (ngModelChange)="onChecked(obj, $event)">&nbsp;
                <label for="verifybankdetails">Tick Bank Details Verified by User</label>
              </div>

            </div>




          </div>
        </div>

        <div id="siteInfo" style="text-align:center">

          <button type="submit" *ngIf="isShownbanksavebutton" (click)="onsavebankdetails($event)"
            class="btn btn-primary" style="background-color: #e43519;">Save</button>

          &nbsp;&nbsp;
          <button type="button" *ngIf="isShownbankcancelbutton" class="btn btn-primary"
            style="background-color: #e43519;" (click)="popupBank = false; showcussaveMsgsuc = false;">Cancel</button>

        </div>

        <div style="text-align:center" *ngIf="showbanksuccessmsg">
          <p class="alert alert-primary">
            <strong style="color:green ;">Bank Details Created Successfully!</strong>
          </p>

        </div>
        <div style="text-align:center" *ngIf="showbankfailedmsg">
          <p class="alert alert-primary">
            <strong style="color:green ;">Bank Details Created Failed! Please try again!</strong>
          </p>

        </div>

      </form>
    </div>
  </div>

</div>

<div *ngIf="shownspin">
  <div class="loader">
    <!-- <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" >
        <span class="sr-only" id="loading" ></span>
      </div>
    </div> -->
  </div>
</div>
<script>


</script>



<router-outlet></router-outlet>